<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Description">
    <meta name="author" content="@Properties["project-author"]">

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <link type="text/css" rel="stylesheet" href="@Root/content/prism.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <script type="text/javascript" src="@Root/content/prism.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://fsharp.org">fsharp.org</a></li>
          <li><a href="http://tpetricek.github.io/FSharp.Formatting/"><img height="16" width="16" src="https://matthid.github.io/Yaaf.AdvancedBuilding/content/img/FSharp.Formatting.png" /> F# Formatting</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <a href="@Root/index.html">
            <img src="@Root/images/logo.png" style="width:140px;height:140px;margin:10px 0px 0px 35px;border-style:none;" />
          </a>

          <ul class="nav nav-list" id="menu">

            <li class="nav-header">@Properties["project-name"]</li>

            <li class="divider"></li>
            <li><a href="@Properties["project-nuget"]">Get @Properties["project-name"] package via NuGet</a></li>
            <li><a href="@Properties["project-github"]">Source Code</a></li>
            <li><a href="@Properties["project-issues"]">Open bugs and feature requests</a></li>
            <li><a href="@Properties["project-new-issue"]">Report Issue or Request Feature</a></li>
            <li><a href="@Properties["project-github"]/blob/develop/doc/LICENSE.md">License (MS-PL)</a></li>
            <li><a href="@Root/Contributing.html">Contributing</a></li>
            
            <li class="nav-header">Documentation</li>
              
            <li><a href="@Root/index.html">Quick Intro</a></li>
            <li><a href="@Root/AboutRazor.html">About Razor and its Syntax</a></li>
            <li><a href="@Root/TemplateBasics.html">Templating basics</a></li>
            <li><a href="@Root/Encoding.html">Encoding Values in Razor</a></li>
            <li><a href="@Root/ReferenceResolver.html">Reference Resolver</a></li>
            <li><a href="@Root/Isolation.html">Isolation and Sandboxing</a></li>
            <li><a href="@Root/TemplateManager.html">TemplateManager and Caching</a></li>
            <li><a href="@Root/DevelopReadme.html">Development Intro</a></li>
            <li><a href="@Root/Upgrading.html">Upgrading Guide (3.5.0)</a></li>
            <li><a href="@Root/ReleaseNotes.html">Release Notes</a></li>
            <li><a href="@Root/IntellisenseAndResharper.html">Intellisense and ReSharper</a></li>
            <li><a href="@Root/Roslyn.html">Roslyn Support</a></li>

            <li class="nav-header">Reference</li>
              
            <li><a href="@Root/references/index.html">API Reference</a></li>

          </ul>
        </div>
      </div>
    </div>
      <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    </body>
  </html>
